@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');
@config "../../tailwind.config.mjs"

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(180deg,rgba(60,60,60,1) 50%, rgba(38,38,38,1) 100%);
    --foreground: #FFF9F5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif, serif;
}
